<div id="wb-foot"><div id="wb-foot-in"><footer><h2 id="wb-nav">Footer</h2>
<!-- FooterStart -->
<nav role="navigation"><div id="ogpl-sft"><h3>Site footer</h3><div id="ogpl-sft-in">
<section><div class="span-2"><h4 class="ogpl-col-head"><a href="#">About us</a></h4>
<ul>
<li><a href="#">Our Mandate</a></li>
<li><a href="#">Our history</a></li>
</ul>
</div></section>
<section><div class="span-2"><h4 class="ogpl-col-head"><a href="#">News</a></h4>
<ul>
<li><a href="#">News releases</a></li>
<li><a href="#">Media advisories</a></li>
<li><a href="#">Multimedia</a></li>
</ul>
</div></section>
<section><div class="span-2"><h4 class="ogpl-col-head"><a href="#">Contact us</a></h4>
<address>
<ul>
<li><a href="#">Phone numbers</a></li>
<li><a href="#">Office locations</a></li>
</ul>
</address>
</div></section>
<section><div class="span-2"><h4 class="ogpl-col-head"><a href="#">Stay connected</a></h4>
<ul>
<li><a rel="external" href="https://www.facebook.com/pages/OGPL/222560987847121">YouTube</a></li>
<li><a rel="external" href="https://twitter.com/OGPL">Twitter</a></li>
</ul>
</div></section>
</div></div></nav>
<!-- FooterEnd -->
</footer>
</div></div></div>

<!-- ScriptsStart -->
<script src="/wet-boew/dist/js/settings.js"></script>
<!--[if lte IE 8]>
<script src="/wet-boew/dist/theme-ogpl/js/theme-ie-min.js"></script>
<script src="/wet-boew/dist/js/pe-ap-ie-min.js"></script>
<script src="/wet-boew/dist/js/jquerymobile/jquery.mobile-ie.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="/wet-boew/dist/theme-ogpl/js/theme-min.js"></script>
<script src="/wet-boew/dist/js/pe-ap-min.js"></script>
<script src="/wet-boew/dist/js/jquerymobile/jquery.mobile.min.js"></script>
<!--<![endif]-->
<!-- ScriptsEnd -->

<!-- CustomScriptsStart -->
<script src="/assets/js/global.js"></script>
{% if page.script_src and page.script_src contains '.js' %}
<link rel='stylesheet' href='{% page.css_href %}' />
{% endif %}
<!-- CustomScriptsEnd -->
</body>
</html>