<div id="wb-foot"><div id="wb-foot-in"><footer><h2{% if page.secondary_menu == false %}{% elsif site.secondary_menu == false and page.secondary_menu != true %}{% else %} id="wb-nav"{% endif %}>Pied de page</h2>
<!-- FooterStart -->
<nav role="navigation"><div id="ogpl-sft"><h3>Pied de page du site</h3><div id="ogpl-sft-in">
<section><div class="span-2"><h4 class="ogpl-col-head">À propos de la PGO</h4>
<ul>
<li><a href="/about/governance-fr.html">Gouvernance de la PGO sur Github</a></li>
<li><a href="/about/licensing-fr.html">Licences</a></li>
</ul>
</div></section>
<section><div class="span-2"><h4 class="ogpl-col-head">Contactez-nous</h4>
<address>
<ul>
<li><a href="https://github.com/ogpl/ogpl.github.io/issues/new">Questions ou commentaires?</a></li>
<li><a rel="external" href="http://ogpl.gov.in/contactus">Formulaire contactez-nous (ogpl.gov.in)</a></li>
</ul>
</address>
</div></section>
<section><div class="span-2"><h4 class="ogpl-col-head">Nouvelles</h4>
<ul>
<li><a href="https://github.com/ogpl/ogpl.github.io/pulse">Activité de ogpl.github.io récente</a></li>
<li><a href="https://github.com/ogpl/ogpl.github.io/graphs">Statistiques de ogpl.github.io</a></li>
</ul>
</div></section>
<section><div class="span-2"><h4 class="ogpl-col-head">Restez branchés</h4>
<ul>
<li><a rel="external" href="https://twitter.com/OGPL">Twitter</a></li>
<li><a rel="external" href="https://www.facebook.com/pages/OGPL/222560987847121">Facebook</a></li>
</ul>
</div></section>
</div></div></nav>
<!-- FooterEnd -->
</footer>
</div></div></div>

<!-- ScriptsStart -->
<script src="/wet-boew/dist/js/settings.js"></script>
<!--[if lte IE 8]>
<script src="/wet-boew/dist/theme-ogpl/js/theme-ie-min.js"></script>
<script src="/wet-boew/dist/js/pe-ap-ie-min.js"></script>
<script src="/wet-boew/dist/js/jquerymobile/jquery.mobile-ie.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="/wet-boew/dist/theme-ogpl/js/theme-min.js"></script>
<script src="/wet-boew/dist/js/pe-ap-min.js"></script>
<script src="/wet-boew/dist/js/jquerymobile/jquery.mobile.min.js"></script>
<!--<![endif]-->
<!-- ScriptsEnd -->

<!-- CustomScriptsStart -->
<script src="/assets/javascripts/global.js"></script>
{% if page.script_src and page.script_src contains '.js' %}
<link rel='stylesheet' href='{{ page.script_src }}' />
{% endif %}
<!-- CustomScriptsEnd -->
</body>
</html>