<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt -->
<title>{{ page.title }} - {{ site.title }}</title>

<link rel="shortcut icon" href="/dist/theme-base/images/favicon.ico" />
<meta name="description" content="{{ site.desc }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if lte IE 8]>
<script src="/dist/js/jquery-ie.min.js"></script>
<script src="/dist/js/polyfills/html5shiv-min.js"></script>
<link rel="stylesheet" href="/dist/grids/css/util-ie-min.css" />
<link rel="stylesheet" href="/dist/js/css/pe-ap-ie-min.css" />
<link rel="stylesheet" href="/dist/theme-base/css/theme-ie-min.css" />
<noscript><link rel="stylesheet" href="/dist/theme-base/css/theme-ns-ie-min.css" /></noscript>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="/dist/js/jquery.min.js"></script>
<link rel="stylesheet" href="/dist/grids/css/util-min.css" />
<link rel="stylesheet" href="/dist/js/css/pe-ap-min.css" />
<link rel="stylesheet" href="/dist/theme-base/css/theme-min.css" />
<noscript><link rel="stylesheet" href="/dist/theme-base/css/theme-ns-min.css" /></noscript>
<!--<![endif]-->

<!-- CustomCSSStart -->
<!-- CustomCSSEnd -->
</head>

<body><div id="wb-body">
<div id="wb-skip">
<ul id="wb-tphp">
<li id="wb-skip1"><a href="#wb-cont">Skip to main content</a></li>
<li id="wb-skip2"><a href="#wb-nav">Skip to footer</a></li>
</ul>
</div>

<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<div id="base-bnr" role="banner"><div id="base-bnr-in">
<div id="base-title"><p id="base-title-in"><a href="/index.html"><img src="/dist/theme-ogpl/images/theme103_logo.png" /> Open Government Platform (OGPL)</a></p></div>

<nav role="navigation">
<div id="base-psnb"><h2>Site menu</h2><div id="base-psnb-in"><div class="wet-boew-menubar mb-mega"><div>
<ul class="mb-menu">
<li><div><a href="#">Section 1</a></div></li>
<li><div><a href="#">Section 2</a></div></li>
<li><div><a href="#">Section 3</a></div></li>
<li><div><a href="#">Section 4</a></div></li>
<li><div><a href="#">Section 5</a></div></li>
<li><div><a href="#">Section 6</a></div></li>
<li><div><a href="#">Section 7</a></div></li>
</ul>
</div></div></div></div>

<div id="base-bc"><h2>Breadcrumb trail</h2><div id="base-bc-in">
<ol>
<li><a href="/index.html">Home</a></li>
<li>{{ page.title }}</li>
</ol>
</div></div>
</nav>
<!-- HeaderEnd -->
</header></div></div>