<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt -->
<title>{{ page.title }} - {{ site.title }}</title>

<link rel="shortcut icon" href="/wet-boew/dist/theme-ogpl/images/favicon.ico" />
<meta name="description" content="{{ page.description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if lte IE 8]>
<script src="/wet-boew/dist/js/jquery-ie.min.js"></script>
<script src="/wet-boew/dist/js/polyfills/html5shiv-min.js"></script>
<link rel="stylesheet" href="/wet-boew/dist/grids/css/util-ie-min.css" />
<link rel="stylesheet" href="/wet-boew/dist/js/css/pe-ap-ie-min.css" />
<link rel="stylesheet" href="/wet-boew/dist/theme-ogpl/css/theme-ie-min.css" />
<noscript><link rel="stylesheet" href="/wet-boew/dist/theme-ogpl/css/theme-ns-ie-min.css" /></noscript>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="/wet-boew/dist/js/jquery.min.js"></script>
<link rel="stylesheet" href="/wet-boew/dist/grids/css/util-min.css" />
<link rel="stylesheet" href="/wet-boew/dist/js/css/pe-ap-min.css" />
<link rel="stylesheet" href="/wet-boew/dist/theme-ogpl/css/theme-min.css" />
<noscript><link rel="stylesheet" href="/wet-boew/dist/theme-ogpl/css/theme-ns-min.css" /></noscript>
<!--<![endif]-->

<!-- CustomCSSStart -->
{% if page.css_href and page.css_href contains '.css' %}
<link rel='stylesheet' href='{{ page.css_href }}' />
{% endif %}
<!-- CustomCSSEnd -->
</head>

<body><div id="wb-body">
<div id="wb-skip">
<ul id="wb-tphp">
<li id="wb-skip1"><a href="#wb-cont">Skip to main content</a></li>
<li id="wb-skip2"><a href="#wb-nav">Skip to footer</a></li>
</ul>
</div>

<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<section><div id="ogpl-fullhd"><h2>Languages</h2>
<div id="ogpl-fullhd-in">
<ul>
<li id="ogpl-fullhd-lang-2"><a href="{{ page.filename_root }}-fr.html" lang="fr">Français</a></li>
<li id="ogpl-fullhd-lang-current">English</li>
</ul>
</div>
</div></section>

<div id="ogpl-bnr" role="banner"><div id="ogpl-bnr-in">
<div id="ogpl-title"><p id="ogpl-title-in"><a href="/index-en.html"><img src="/wet-boew/dist/theme-ogpl/images/theme103_logo.png" alt="" /> <span>Open Government Platform (OGPL)</span></a></p></div>

<nav role="navigation">
<div id="ogpl-psnb"><h2>Site menu</h2><div id="ogpl-psnb-in"><div class="wet-boew-menubar mb-mega"><div>
<ul class="mb-menu">
<li><div><a href="#">Section 1</a></div></li>
<li><div><a href="#">Section 2</a></div></li>
<li><div><a href="#">Section 3</a></div></li>
<li><div><a href="#">Section 4</a></div></li>
<li><div><a href="#">Section 5</a></div></li>
<li><div><a href="#">Section 6</a></div></li>
<li><div><a href="#">Section 7</a></div></li>
</ul>
</div></div></div></div>

<div id="ogpl-bc"><h2>Breadcrumb trail</h2><div id="ogpl-bc-in">
<ol>
<li><a href="/index-en.html">Home</a></li>
<li>{{ page.title }}</li>
</ol>
</div></div>
</nav>
<!-- HeaderEnd -->
</header></div></div>