<div id="ogpl-psnb"><h2>Site menu</h2><div id="ogpl-psnb-in"><div class="wet-boew-menubar mb-mega"><div>
<ul class="mb-menu">
<li><div><a href="/best_practices/index-en.html">Best Practices</a></div></li>
<li><div><a href="/contributions/index-en.html">Contributions</a></div></li>
<li><div><a href="/open_data/index-en.html">Open Data</a></div></li>
<li><div><a href="/partners/index-en.html">Partners</a></div></li>
<li><div><a href="/tools/index-en.html">Tools</a></div></li>
</ul>
</div></div></div></div>