<section class="col-sm-3">
	<h3>{{ site.data.i18n-base[page.language].tmpl-about }}</h3>
	<ul class="list-unstyled">
		<li><a href="http://wet-boew.github.io/wet-boew/index-{{ page.language }}.html#{{ site.data.i18n-base[page.language].tmpl-about-anchor }}">{{ site.data.i18n-base[page.language].tmpl-about-wet }}</a></li>
		<li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-{% if page.language == 'fr' %}fra{% else %}eng{% endif %}.asp">{{ site.data.i18n-base[page.language].tmpl-about-web-standards }}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>{{ site.data.i18n-base[page.language].tmpl-contact-us }}</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/issues/new">{{ site.data.i18n-base[page.language].tmpl-questions-comments }}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>{{ site.data.i18n-base[page.language].tmpl-news }}</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/pulse">{{ site.data.i18n-base[page.language].tmpl-recent-project-activity }}</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/graphs">{{ site.data.i18n-base[page.language].tmpl-project-stats }}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>{{ site.data.i18n-base[page.language].tmpl-stay-connected }}</h3>
	<ul class="list-unstyled">
		<li><a href="https://twitter.com/{{ site.data.i18n-base[page.language].tmpl-wet-twitter }}">Twitter</a></li>
	</ul>
</section>
