<section class="col-sm-3">
	<h3>{{ site.data.i18n-theme-ogpl[page.language].site-about }}</h3>
	<ul class="list-unstyled">
		<li><a href="http//ogpl.github.io/about/governance-{{ page.language }}.html">{{ site.data.i18n-theme-ogpl[page.language].site-governance }}</a></li>
		<li><a href="http//ogpl.github.io/about/licensing-{{ page.language }}.html">{{ site.data.i18n-theme-ogpl[page.language].site-licensing }}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>{{ site.data.i18n-base[page.language].tmpl-contact-us }}</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/ogpl/ogpl.github.io/issues/new">{{ site.data.i18n-base[page.language].tmpl-questions-comments }}</a></li>
		<li><a rel="external" href="http://ogpl.gov.in/contactus">{{ site.data.i18n-theme-ogpl[page.language].site-contact-form }}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>{{ site.data.i18n-base[page.language].tmpl-news }}</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/ogpl/ogpl.github.io/pulse">{{ site.data.i18n-base[page.language].tmpl-recent-project-activity }}</a></li>
		<li><a href="https://github.com/ogpl/ogpl.github.io/graphs">{{ site.data.i18n-base[page.language].tmpl-project-stats }}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>{{ site.data.i18n-base[page.language].tmpl-stay-connected }}</h3>
	<ul class="list-unstyled">
		<li><a rel="external" href="https://twitter.com/OGPL">Twitter</a></li>
		<li><a rel="external" href="https://www.facebook.com/pages/OGPL/222560987847121">Facebook</a></li>
	</ul>
</section>
