{% include header-fr.html %}            

<div id="wb-core"><div id="wb-core-in" class="equalize">
<div id="wb-main" role="main"><div id="wb-main-in">
<!-- MainContentStart -->
<h1 id="wb-cont">{{ page.title }}</h1>

<ul class="button-group">
<li><a href="http://prose.io/#ogpl/ogpl.github.io/edit/{{ site.branch }}/{{ page.filename_root }}-fr.md" class="button"><span class="wb-icon-report"></span>Modifier cette page</a></li>
<li><a href="https://github.com/ogpl/ogpl.github.io/commits/{{ site.branch }}/{{ page.filename_root }}-en.md" class="button"><span class="wb-icon-info"></span>Historique des révisions</a></li>
<li><a href="https://github.com/ogpl/ogpl.github.io/issues/new" class="button"><span class="wb-icon-question"></span>Questions ou commentaires?</a></li>
</ul>

{{ content }}

<div class="clear"></div>
<!-- MainContentEnd -->
</div></div>
</div></div>

{% include footer-fr.html %}  