{% include header-en.html %}            

<div id="wb-core"><div id="wb-core-in" class="equalize">
<div id="wb-main" role="main"><div id="wb-main-in">
<!-- MainContentStart -->
<h1 id="wb-cont">{{ page.title }}</h1>

<ul class="button-group">
<li><a id="edit-page" href="http://prose.io/#ogpl/ogpl.github.io/edit/{{ site.branch }}/{{ page.path }}" class="button"><span class="wb-icon-paper-pencil"></span>Edit this page</a></li>
<li><a href="https://github.com/ogpl/ogpl.github.io/commits/{{ site.branch }}/{{ page.path }}" class="button"><span class="wb-icon-info"></span>Revision history</a></li>
<li><a href="https://github.com/ogpl/ogpl.github.io/issues/new" class="button"><span class="wb-icon-question"></span>Questions or comments?</a></li>
</ul>

{{ content }}

<div class="clear"></div>
<!-- MainContentEnd -->
</div></div>
</div></div>

{% include footer-en.html %}  